
.square {
  background: #011627;
  border: 2px solid #FDFFFC;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.square-X {
  color: #2EC4B6;
}

.square.square-O {
  color: #FF9F1C;
}

.square.square-last {
  background: #441627;
}

.square:focus {
  outline: none;
}
